// $(document).ready(function () {
$(document).on('turbolinks:load', function(){
  scroll_end();
  $.ajaxSetup({
    headers: {
      'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
    }
  });

  $( "#InviteModal" ).on('show.bs.modal', function(){
      $("#inviteName").val("");
      $('#inviteResultList').empty();
  });

  $(document).on('keypress', '#inviteName',function(e) {
    $('#inviteResultList').empty();
    if(e.which == 13){
      var username = $('#inviteName').val();
      $.ajax({
          url: '/users/search',
          type: 'POST',
          dataType: 'JSON',
          data: {
            name: username
          }
      }).done(function(result) {
        var users = result.data
        console.log(users.length);
        if(users.length){
          var i = 0;
          for(i=0;i<users.length;i++){
            var html = '<tr ><td>'+users[i].name+'</td>'
              + '<td>'
              + '<button class=\"btn btn-primary invite-btn\"  value=\"'+users[i].id+'\">'
              + 'Invite</button>'
              + '</td>'
              + '</tr>';
            $('#inviteResultList').append(html);
          }
        }
        else{
          var html = '<p>user not found</>';
          $('#inviteResultList').append(html);
        }
      });
    }
  })

  $(document).on('click', '.invite-btn', function () {
    var user_id = $(this).val();
    var room_id = $("#inviteRoomId").val();
    $.ajax({
        url: '/invites',
        type: 'POST',
        dataType: 'JSON',
        data: {
          user_id: user_id,
          room_id: room_id
        }
    }).done(function(result) {
      if (result.data) toastr.success('Invite success!');
      else toastr.warning('Invite fail!');
    });
  })

  $(document).on('click', '.admin-btn', function () {
    $.ajax({
        url: '/admins',
        type: 'POST',
        dataType: 'JSON',
        data: {
          user_id: $(this).val(),
          id: $("#inviteRoomId").val()
        }
    }).done(function(result) {
      if (result.data) toastr.success('Add admin success!');
      else toastr.warning('Add admin fail!');
    });
  })

  $('.delete-btn').on('click', function () {
    $.ajax({
        url: '/join_rooms/'+$("#inviteRoomId").val()+'/'+$(this).val(),
        type: 'DELETE'
    }).done(function(result) {
      if (result.data) toastr.success('Delete success!');
      else toastr.warning('delete fail!');
    });
  })

  $('#delete_room').on('click', function () {
    $.ajax({
        url: '/rooms/'+$("#inviteRoomId").val(),
        type: 'DELETE'
    }).done(function(result) {
      if (result.data) {toastr.success('Delete success!'); location.href='/'}
      else toastr.warning('delete fail!');
    });
  })

  $('#become_user_leave').on('click', function () {
    if ($(this).text() == 'Leave Room') leave_room()
    else become_user();
  })

  function become_user() {
    $.ajax({
        url: '/admins/'+$("#inviteRoomId").val(),
        type: 'DELETE'
    }).done(function(result) {
      if (result.data){
        location.reload();
        toastr.success('success!');
      }
      else toastr.warning('fail!');
    });
  }

  function leave_room() {
    $.ajax({
        url: '/join_rooms/'+$("#inviteRoomId").val()+'/'+$('#UserID').val(),
        type: 'DELETE'
    }).done(function(result) {
      if (result.data){
        toastr.success('success!');
        location.href = '/';
      }
      else toastr.warning('fail!');
    });
  }

  $(document).on("click",".invite_element", function () {
    var invite_element = $(this);
    var invite_id = $(this).val();
    $.ajax({
        url: '/join_rooms',
        type: 'POST',
        dataType: 'JSON',
        data: {
          invite_id: invite_id
        }
    }).done(function(result) {
      toastr.success('Join room \"'+result.room_name+'\" success!');
      location.href  = '/rooms/'+ result.id;
      invite_element.remove();
      $(".invite-count").html(result.count);
    });
  })

  $(document).on('click', '#send_new_message', function (){
    send_new_message();
  })

  $(document).on('keypress', '#new_message_input', function (e){
    if(e.which == 13){
      send_new_message();
    }
  })
})

function send_new_message(){
  var content = $("#new_message_input").val();
  if (content === "" ) return;
  $('#new_message_input').val('').attr("disabled", true); 
  var room_id = $("#inviteRoomId").val();
  $.ajax({
      url: '/messages',
      type: 'POST',
      dataType: 'JSON',
      data: {
        content: content,
        room_id: room_id
      }
  }).done(function(result) {
    $('#new_message_input').attr("disabled", false); 
  });
}

function update_mesage(result){
  var html = '<div class=\"direct-chat-msg\">'
              + '<div class=\"direct-chat-info clearfix\">'
              + '<span class=\"direct-chat-name pull-left\">'
              + result.user.name
              + '</span>'
              + '<span class=\"direct-chat-timestamp pull-right\">'
              + result.data.created_at
              + '</span>'
              + '</div>'
              + '<img class=\"direct-chat-img\" src=\"'
              + result.user.avatar
              +'\">'
              + '<div class=\"direct-chat-text\">'
              + result.data.content
              + '</div>'
              + '</div>';
    $('#message_list').append(html);
    scroll_end();
}

function new_member(result){
  var html = '<li>'
    +'<img src="'
    +result.user.avatar
    +'" />'
    + '<span class="users-list-name">'
    +result.user.name
    + '</span></li>';
    $('#member_list').append(html);
}

function add_admin(result){
  $('#admin_'+result.user.id).html("Admin");
  if(result.user.id == $("#UserID").val()){
    location.reload();
  }
}

function delete_admin(result){
  var html = '';
  if ($('#UserAdmin').length > 0){
    html ="<button class='delete-btn btn-danger' value='"
    +result.user.id
    +"'>Delete</button>"
    +"<button class='admin-btn btn-warning' value='"
    +result.user.id
    +"'>Admin</button>"
  }
  $('#admin_'+result.user.id).html(html);
}

function delete_member(result){
  $("#members_"+result.user.id).remove();
  if(result.user.id == $("#UserID").val()) location.href = '/';
}

<% if $current_room %>
var channel;
$(document).on('turbolinks:load', function(){
  if (channel) channel.unsubscribe();
  channel = App.cable.subscriptions.create({channel: 'RoomChannel', room: $("#inviteRoomId").val()}, {  
    received: function(data) {
      console.log(data.type);
      switch (data.type){
        case "new_message":
          update_mesage(data);
          break;
        case "new_member":
          new_member(data);
          break;
        case "delete_member":
          delete_member(data);
          break;
        case "delete_room":
          location.href  = '/';
          break;
        case "add_admin":
          add_admin(data);
          break;
        case "delete_admin":
          delete_admin(data);
          break;
      }
    },
  });
  console.log();
  scroll_end();
}); 
<% end %>
function scroll_end() {
  var msg_list = document.getElementById('message_list');
  msg_list.scrollTop = msg_list.scrollHeight;
}
